<mat-toolbar color="primary">
    <!-- <span>EDIT PRODUCTS</span> -->
    <span  (click)="goback()"  > <i class="pi pi-angle-left" style="font-size: 1.1rem"></i>Back</span>

    <span class="example-spacer"></span>
  </mat-toolbar>

  <div class="container">
    <h2>EDIT CATEGORIES</h2>
    <form [formGroup]="form">
  
      <div class="p-field" hidden="true">
        <label for="name">Name</label>
        <input id="name" type="text" pInputText formControlName="name" class="p-inputtext"  />
      </div>
      <div class="p-field">
        <label for="name">Name</label>
        <input id="name" type="text" pInputText formControlName="name" class="p-inputtext" />
        <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched" class="p-error">
          Name is required!
        </div>
      </div>

      <div class="p-field">
        <label for="number">Price</label>
        <input id="number" type="number" pInputText formControlName="price" class="p-inputtext" />
        <div *ngIf="form.controls['price'].invalid && form.controls['price'].touched" class="p-error">
          Price is required
        </div>
      </div>

      <button type="submit" (click)="updateProduct()"  [disabled]="!form.controls['name'].valid || !form.controls['price'].valid" pButton label="Submit" class="p-button-raised p-button-rounded p-button-secondary"></button>
    </form>
  </div>

  <p-toast position="top-center" key="tl"></p-toast>

