<mat-toolbar color="primary">
    <span>CATAGORIES</span>
    <span class="example-spacer"></span>

    <p-button label="ADD CATEGORY" (click)="addcatogory()" styleClass="p-button-raised  p-button-help p-button-sm"
      [style]="{'width': '150px', 'height': '40px'}"></p-button>
  </mat-toolbar>

<div class="content">    
<p-table [value]="products" [scrollable]="true" scrollHeight="400px" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Catagories</th>
            <th></th>
            <th></th>
            <th></th>
            <th>Edit</th>
            <th>Delete</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product >
        <tr>
            <td (click)="gotoproducts(product.id)">
                {{ product.name }}
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td >
                <p-button icon="pi pi-pencil" (click)="editcategory(product.id)"
                    styleClass="p-button-rounded p-button-secondary p-button-text"
                    [style]="{'width': '30px', 'height': '30px'}"></p-button>
            </td>
            <td>
                <p-button icon="pi pi-trash" (click)="deletecategory(product.id)"
                    styleClass="p-button-rounded p-button-danger p-button-text"
                    [style]="{'width': '30px', 'height': '30px'}"></p-button>
            </td>
            <td>
              <p-button label="VIEW PRODUCTS" (click)="gotoproducts(product.id)" styleClass="p-button-rounded p-button-info p-button-sm"
                [style]="{'width': '150px', 'height': '40px'}"></p-button> 
            </td>
        </tr>
    </ng-template>
</p-table>

</div>

