.example-spacer {
    flex: 1 1 auto;
  }

  .justify-content-center{
    align-items:center;
    margin-top: 1%;
    margin-right: 10%;
    border: none;
  }


  .content{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
  }
  



  
  